.vertical-chart-container {
	width: 95%;
	padding: 1em 1em 0em 1em;
	margin: auto auto 1em auto;
	border: 1px solid #aaaaaa;
}

.vertical-chart-title {
	color: #aaaaaa;
	letter-spacing: 1px;
	margin-left:20px;
}

.chart-actions {
	margin: 0px 20px 20px 0px;
	width: 100%;
	border-bottom: 1px solid #000000;
	padding-bottom: 5px;
}