<div class="vertical-chart-container">
	<div class="chart-actions">
		<label for="sortSelect">Sort by</label>
		<select onchange={{action (mut sortBy) value="target.value"}} name="sortSelect">
			{{#each-in sortOptions as |key value|}}
				<option value={{value}} selected={{eq sortBy value}}>{{key}}</option>
			{{/each-in}}
		</select>
	</div>
	<span class="vertical-chart-title">{{title}}</span>
	{{vertical-bar-chart
		data=data
		sortKey=sortBy 
		hasYAxisTitle=true 
		yValueDisplayName=yAxisLabel
		selectedSeedColor=color}}
</div>
{{yield}}