<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Sentiment Analysis</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li>{{#link-to "twitter-users" class="nav-button"}}Twitter Users <span class="sr-only">(current)</span>{{/link-to}}</li>
				<li>{{#link-to "composite" class="nav-button"}}Composite Analysis{{/link-to}}</li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
{{yield}}
