<div id="twitter-user-list">
	<ul>
		{{#each orderedUsers as |twitter-user|}}
			<li>{{#link-to "twitter-user" twitter-user}}{{twitter-user.handle}}{{/link-to}}</li>
		{{else}}
			<li>No users</li>
		{{/each}}
	</ul>
</div>
{{yield}}
